.square {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.box {
    background-color: #ffffff;
    border: 2.5px solid #080000;
    transition: background-color 0.4s;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.box:hover {
    background-color: #0faba6;
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

  .message-container {
    text-align: center;
    margin-top: 60px; 
}

